@import "_globals.scss";

header {
    height: 100px;
}
#gamePlay {
    width: 90%;
    margin: 0 5%;
    background-image: linear-gradient(to right, $fernGreen, $purple);
    height: 500px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    color: $almond;
    box-shadow: -1px -1px 50px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
    .area {
        text-align: center;
        display: grid;
        align-items: center;
        justify-items: center;
        section {
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }
}

.comboScore {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    h3 {
        font-size: 30px;
        color: $orange;
        font-weight: 300;
        // text-align: right;
        // margin-left: 110px;
    }
}
.kaijuImage {
    height: 300px;
    padding: 30px;
    transition: 0.4s all ease-in-out;
    &:hover {
        transform: scaleX(-1);
        transition: 0.4s all ease-in-out;
    }
}
#versus {
    position: absolute;
    top: 200px;
    color: $orange;
    text-shadow: -1px -1px 3px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
    font-size: 50px;
    margin: 0 47%;
}
.choseAKaiju {
    h2 {
        font-size: 35px;
        text-shadow: -1px -1px 3px $orange, 1px -1px 3px $orange, -1px 1px 3px $orange, 1px 1px 3px $orange;
    }
}


#makeAChoice {
    background-color: $purple;
    color: $almond;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    h3 {
        margin-bottom: 30px;
        font-size: 30px;
        align-self: flex-end;
    }
    a {
        color: $purple;
        letter-spacing: 2.2px;
        text-decoration: none;
        padding: 30px 0 0;
        height: 70px;
        width: 250px;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        background-color: $fernGreen;
        border-radius: 50px;
        text-shadow: -0.8px -0.8px 0 $almond, 0.8px -0.8px 0 $almond, -0.8px 0.8px 0 $almond, 0.8px 0.8px 0 $almond;
    }
}

