@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #344E41;
  font-family: 'Comfortaa', cursive;
  color: #E5D4C0;
}

header {
  height: 150px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header h1 {
  color: #E5D4C0;
  text-shadow: -1px -1px 3px #3C1642, 1px -1px 3px #3C1642, -1px 1px 3px #3C1642, 1px 1px 10px #3C1642;
}

a {
  color: #E5D4C0;
}

#gamePlay {
  width: 90%;
  margin: 0 5%;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#588157), to(#3C1642));
  background-image: linear-gradient(to right, #588157, #3C1642);
  height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #E5D4C0;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-box-shadow: -1px -1px 50px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
          box-shadow: -1px -1px 50px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
}

#gamePlay .area {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#gamePlay .area section {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.healthScore {
  font-size: 20px;
}

.comboScore {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.comboScore h3 {
  font-size: 30px;
  color: #E55934;
  font-weight: 300;
}

.kaijuImage {
  height: 300px;
  padding: 30px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.kaijuImage:hover {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

#versus {
  position: absolute;
  top: 200px;
  color: #E55934;
  text-shadow: -1px -1px 3px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
  font-size: 50px;
  margin: 0 47%;
}

#attackButton {
  background-color: #E55934;
  height: 40px;
  width: 10%;
  margin: 0 45%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 400px;
  color: #E5D4C0;
  -webkit-box-shadow: -1px -1px 20px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
          box-shadow: -1px -1px 20px aqua, 1px -1px 3px aqua, -1px 1px 3px aqua, 1px 1px 3px aqua;
}

.choseAKaiju h2 {
  font-size: 35px;
  text-shadow: -1px -1px 3px #E55934, 1px -1px 3px #E55934, -1px 1px 3px #E55934, 1px 1px 3px #E55934;
}

#makeAChoice {
  background-color: #3C1642;
  color: #E5D4C0;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#makeAChoice h3 {
  margin-bottom: 30px;
  font-size: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#makeAChoice a {
  color: #3C1642;
  letter-spacing: 2.2px;
  text-decoration: none;
  padding: 30px 0 0;
  height: 70px;
  width: 250px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  background-color: #588157;
  border-radius: 50px;
  text-shadow: -0.8px -0.8px 0 #E5D4C0, 0.8px -0.8px 0 #E5D4C0, -0.8px 0.8px 0 #E5D4C0, 0.8px 0.8px 0 #E5D4C0;
}
/*# sourceMappingURL=attack.css.map */