#attackButton {
    width: 100px;
    height: 100px;
    background-color: green;
}

.choseAKaiju {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: red;
    img {
        height: 90%;
    }
}

